<div>
  <label for="">Name</label>
  {{input value=name}}
</div>
<div>
  <label for="">Age</label>
  {{input value=age}}
</div>

<button type="submit" {{action save this}}>Save</button>
<button type="submit" {{action cancel this}}>Cancel</button>
